.nav{
    display: inline;
    color: aqua;
}

h1{
    font-family: 'Courier New', Courier, monospace ;
    font-size: xx-large;
    text-align: center;
}
li{
    position: relative;
}

.menu-items{
    font-size: large;
    text-align: center;
    
}

.icon{
    text-align: center;
}

#nutrition{
    text-align: center;
    bottom: 0;
    position: absolute;
    height: 6rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }